# Gradle
.gradle/
build/
app/build/

# Local properties
local.properties

# Secrets
.env
.env.local

# IDE
.idea/
*.iml

# Node / JS / Web
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
